<div class="site-header-background"></div>
<nav class="u-pull-right">
	<ul>
		<li>{{#link-to 'index'}}HOME{{/link-to}}</li>
		<li>{{#link-to 'projects'}}PROJECTS{{/link-to}}</li>
		<li><a href="#contact-me">CONTACT</a></li>
	</ul>
</nav>
